body,html{
	margin:0px;
	padding: 0px;
}

.menuclass{
	position: fixed;
	width: 100%;
}
.navbar{
	margin-bottom: 0px;
	padding: 8px;
}

.navbar-brand{
	font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    color: #535659 !important;
    position: relative;
    left: 55px;
	
}

.navbar-brand::after{
	content: "";
    width: 24px;
    height: 24px;
    background-color: rgba(250, 85, 85, 0.8);
    position: absolute;
    display: block;
    left: -12px;
    margin-left: 0px;
    bottom: 13px;
    border-radius: 50%;
}

.navbar-brand::before{
	content: "";
    width: 24px;
    height: 24px;
    background-color: rgba(0, 173, 181, 0.6);
    position: absolute;
    display: block;
    left: -25px;
    margin-left: 0px;
    bottom: 13px;
    border-radius: 50%;
}

.menuright{
	position: relative;
	right: 40px !important;
}

.headerJpg{
	background-image: url(../image/header-img.jpg);
	background-size: cover;
	height: 700px;
	background-position: center center;
	background-attachment: scroll;
	background-position-y: 50px;
    
}

.text-center{
    text-align: center;
}

.text-wrap{
    display: table;
    width: 100%;
    position: relative;
    z-index: 4;
    height: 800px;
}

.text-inner{
    display: table-cell;
    vertical-align: middle;
}

.headerH1{
    font-size: 48px;
    text-transform: uppercase;
    color: white;
    margin: 0 0 20px 0;
    font-weight: 400;
    line-height: 58px;
}

.headerH2{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 60px 0;
}

.text-fixed{

background-attachment: fixed; 
position: relative;

}



.headerbutton{
	background-color: red;
}

.buttons a{
    text-decoration: none;
}

.btn1{
    width: 230px;
    display: inline-block;
    font-size: 20px;
    padding: 15px 0;
    margin-right: 10px;
	border: 2px solid #FA5555;
    background: #FA5555;
    border-radius: 5%;
    margin-bottom: 10px;
    
}



.btn2{
	width: 230px;
    display: inline-block;
    font-size: 20px;
    padding: 15px 0;
    margin-right: 10px;
    border: 2px solid #00ADB5;
    background: #00ADB5;
    border-radius: 5%;
    
}



#services{
    padding-top: 50px;
    padding-bottom: 80px;
}


.h3{
    position: relative;
}


.h3::after{
    content: "";
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    left:-16px;
    background: #00ADB5;
    bottom: 6px;
    border-radius: 50%;
}

.h3::before{
    content: "";
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    left: -10px;
    background: red;
    bottom: 6px;
    border-radius: 50%;
}


.ofH3{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #8f989f;
    position: relative;
    display: block;
    padding-bottom: 30px;
}


.boxh3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    font-family: "PT Sans", Arial, serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.p{
    margin-bottom: 1.5em;
    font-size: 16px;
    margin: 0 0 50px;
    text-align: center;
    font-family: "PT Sans", Arial, serif;
    font-weight: 300;
    line-height: 1.5;
    color: #7f7f7f;
}

.boxService span{
    width: 130px;
    height: 130px;
    display: inline-block;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.span i{
    text-align: center;
    position: absolute;
    left: 0;
    top: 32px;
    right: 0;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 60px;
    color: #00ADB5;
    z-index: 1;
}

.span::before{
    position: absolute;
    top: 8px;
    left: 8px;
    right: 0;
    content: '';
    width: 20px;
    height: 20px;
    background: #00ADB5;
    border: 2px solid #fff;
    border-radius: 50%;
}

.boxFirstChild{
    text-align: center;
    margin-bottom:20px;
}

/*
.core-feautures{
    display: flex;
    width: 100%;
}
*/
.core-features .grid1{
    width: 50%;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 696px;
}

@media only screen and (max-width: 800px) {
    .core-features .grid1{
    display: none;
        
}
}

.core-features .grid2{
    width: 50%;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 696px;
}

@media only screen and (max-width: 800px) {
    .core-features .grid2{
    float:none;
        width: 100%;
        height: 1000px;
}
}

.core-features .grid2 .core-f{
    padding: 40px;
}

.core-features .grid2 .core-f h2{
    text-transform: uppercase;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.core-features .grid2 .core-f .core {
    margin-bottom: 30px;
    text-align: left;
}

.core-features .grid2 .core-f .core i {
    float: left;
    color: #00ADB5;
    font-size: 28px;
}

.core-features .grid2 .core-f .core .fh5co-post {
    padding-left: 50px;
}

.core-features .grid2 .core-f h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.core-features .grid2 .core-f p {
    margin-bottom: 1.5em;
    font-size: 16px;
    text-align: left;
}
/* anar */ 

.vertical120 {
    width: 100%;
    height: 100px;
}
.page-started h3 {
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 30px;
    padding-top: 40px;
}
.doe-img {
    margin-top: 20px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#testimony h6 {
    color: #7f7f7f;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    display: block;
}
#testimony h6 span {
    color: rgba(0, 173, 181, 0.6);
}
#testimony blockquote {
    border: none;
    margin: 30px auto;
    width: 100%;
    position: relative;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    color: #7f7f7f;
    font-size: 20px;
}
.buttons {
    margin-top: 10px;
}
.box {
    width: 10px;
    height: 10px;
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
}
/***************Getting Started*****************/
.getting-started-jpg {
    background: url(../image/header-img.jpg) no-repeat;
    background-position: center center;
    height: 400px;
    background-size: cover;
}
.getting-started-jpg h2 {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.1;
    padding-top: 30px;
    font-size: 30px;
}
.getting-started-jpg h2 span {
    color: #FFC12D;
}
.getting-started-jpg p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}
.padding-left {
    padding-left: 0px;
}
.bg-red {
    background-color: rgba(243, 0, 0, 0.7);
    height: 400px;
}
.sign-up {
    padding-top: 80px;
    margin: 0;
/*    font-size: 24px;*/
    color: #fff;
}
.pricing-p {
    font-size: 18px;
    color: #8f989f;
    line-height: 1.5;
    font-weight: 400;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.price-box {
    border: 2px solid lightgray;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.pricing-choose {
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}
.price {
    font-size: 50px;
    color: #000;
}
.vahid {
    font-size: 20px;
    top: -1.2em;
    left: 10px;
}
.small {
    font-size: 20px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.information-price {
    padding: 0;
    margin: 0 0 30px 0
}
.information-price ul li {
    margin-right: 30px;
    list-style: none;
    text-align: center;
    display: list-item;
    color: #7f7f7f;
    font-size: 20px;
}
.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn.btn-primary {
    background: #00ADB5;
    color: #fff;
    border: 2px solid transparent;
    !important border-radius: 2px;
}
.best {
    border: 2px solid #00ADB5;
}
.best-text {
    top: 0;
    left: 50%;
    margin-left: -55px;
    margin-top: -2em;
    position: absolute;
    padding: 4px 20px;
    background: #00ADB5;
    color: #fff;
    border-radius: 4px;
}
.best-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-top: 10px solid black;
    border-top-color: #00ADB5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.red-color {
    color: #ff2400;
}
.pricing-end-p {
    margin-bottom: 1.5em;
    font-size: 16px;
    color: #7f7f7f;
    font-weight: 400;
}
//****************** After FAQ *********************//
.compaines-logo {
    margin-bottom: 30px;
    float: left;
    display: inline-block;
    width: 100%;
    
}
.img-canon {
    height: auto;
    max-width: 100%;
    display: block;
    border: 0;
}
/* Footer*/
#footer .title-aboutUs{
	font-size: 22px;
    color: #fff;
    position: relative;
    padding-bottom: 20px;
}
#footer .copy-right{
position: relative;
padding-top: 20px;
margin-top: 40px;
font-size: 17px;
}
#footer .footer-p{
margin-bottom: 10px;
font-size: 17px;
}
 #footer .address-info{
    margin: 0 0 60px 0;
    padding:0px;
}
.address-info li{
    font-size: 16px;
    list-style-type: none;
    margin: 0 0 20px 0;
    position: relative;
   display: list-item;
   padding-left: 40px;
    
}
.address-info i{
   color: #00ADB5;
   top:0;
   left:0;
   position: absolute;
   font-size: 22px;
}
#footer .media-icons{
margin: 0 0 30px 0;
padding: 0;
}
#footer .media-icons li a{
    color: #00ADB5;
    text-decoration: none;
}
.media-icons li{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    margin-right: 10px;
}
.media-icons i{
    font-size: 22px;
}
.media-icons i:hover{
    color: #fff;
    transition:0.5s;
}
.form-box{
    display: block;
    margin:0;
}
.form-control{
    padding: 16px 20px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.05);
    border:none;
}
#submit-btn {
    color: rgba(255, 255, 255, 0.9) !important;
    background: #FA5555 !important;
}

#team{
	text-align:center;
	font-weight: 500;
	letter-spacing: 2;
	font-size: 15px;
	font-family: arial;
/*	background-color: #F2F2F2;*/
}

#blog{
    text-align:center;
	font-weight: 500;
	letter-spacing: 2;
	font-size: 15px;
	font-family: arial;
/*	background-color: #F2F2F2;*/
}

.verticalheight{
	margin-top: 80px;
}
.faraway{
	color: #949DA3;
	font-size: 17px;
	font-family: font-family: "PT Sans", Arial, serif;
	font-weight: 400px;
	font-size: 18px;
}
.personimg{
	width: 147px;
	height: 147px;
	border: 15px solid #F2F2F2;
	position: relative;
	margin-top: -73px;
}
.vertical20{
	height: 150px;
}
.meet{
	color: #333333;
	font-size: 24px;
	text-align: center;
    font-weight: 400;
    color: #333;
    position: relative;
    padding-bottom: 10px;
    line-height: 1.5;
    letter-spacing: 1.3px;
    
}
.meetanimate{
	opacity:0;
	transform:translate3d(0,0px,0);
}
.meetanimate1{
	opacity:0;
	transform:translate3d(0,0px,0);
}
.meet::before{
	content: "";
    width: 8px;
    height: 8px;
    background-color: rgba(250, 85, 85, 0.8);
    position: absolute;
    display: inline-block;
    margin-top: 13px;
    margin-left: -20px;
    border-radius: 50%;
}
.meet::after{
	content: "";
    width: 8px;
    height: 8px;
     background-color: rgba(0, 173, 181, 0.6);
    position: absolute;
    display: inline-block;
    margin-top: 13px;
    margin-left: -240px;
    border-radius: 50%;
}
.readblog{
	opacity: 0;
	transform: translate3d(0);
}
.readblog::before{
	content: "";
    width: 8px;
    height: 8px;
    background-color: rgba(0, 173, 181, 0.6);
    position: absolute;
    display: inline-block;
    margin-top: 13px;
    margin-left: -20px;
    border-radius: 50%;
}
.readblog::after{
	content: "";
    width: 8px;
    height: 8px;
    background-color: rgba(250, 85, 85, 0.8);
    position: absolute;
    display: inline-block;
    margin-top: 13px;
    margin-left: -240px;
    border-radius: 50%;
}
.personsdiv{
	background: white;
	position: relative;
}
.founder{
	color: #9FA7AD;
	font-size: font-size: 16px;
}
.teamboxdiv{
	background: white !important;
	margin-bottom: 73px;
	opacity:0;
	transform:translate3d(0px,30px,0);
}
.teamboxdiv1{
	opacity:0;
	transform:translate3d(0px,32px,0);
}
.teamboxdiv2{
	opacity:0;
	transform:translate3d(0px,34px,0);
}
.teamboxdiv h3{
	text-align: center;
}
.farfar{
	text-align: inherit;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
    font-size: 16px;
    color: #8A8A8A;
}
.personsname{
	margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
.teamicons{
	margin: 0px;
	padding: 0px;
}
.team ul{
	display: inline;
}
.teamicons li{
	list-style-type: none;
	display: inline;
	cursor: pointer;
	margin: 4px;
}
.teamicons li:hover{
	color: #DE6868;
	transition: 1s;
}
.teamicons span{
	font-size: 20px;
}
.blogtxt{
	text-align: center;
	color: #333333;
	font-size: 24px;
    font-weight: 400;
    color: #333;
    position: relative;
    padding-bottom: 10px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.blogtxt1{
	font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #8f989f;
    position: relative;
    display: block;
    padding-bottom: 30px;
    text-align: center;
}
.blogimage1{
	height: 400px;
	background-image: url(../image/full_image_5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.blogimage2{
	height: 400px;
	background-image: url(../image/full_image_4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.downloadtxt{
	background: #F2F2F2;
	text-transform: none;
}
.download{
	cursor: pointer;
	background-color:  #F2F2F2;
	padding: 20px;
	width: 80%;
	float: left;
	color: #333333;
}
.downloadhtml{
	background: #F2F2F2;
	color: #333333;
	font-size: 20px;
	text-decoration: none;
}
.downloadicon{
	padding: 20px;
	width: 20%;
	float: left;
	font-size: 20px;
	color: #FFC12D;
	background: #484848;
}
.downloadicon p{
	text-align: center;
}
.marginbottom{
	margin-bottom: 100px;
	text-decoration: none !important;
	text-transform: none !important;
}
.vaxt{
	text-align: center;
	background: white;
	width: 90px;
	height: 90px;
	padding: 10px;
}
.vaxt2{
	text-align: center;
	background: white;
	width: 90px;
	height: 90px;
	padding: 10px;
}
.vaxt2 span{
	color: #333;
	transform: none;
	text-decoration: none;
	font-size: 30px;
}
.vaxt2 small{
	color: #333;
	font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
}
.vaxt span{
	color: #333;
	font-size: 30px;
}
.vaxt small{
	color: #333;
	font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.compaines-logo {
    margin-bottom: 30px;
    float: left;
    display: inline-block;
    width: 100%;
    
}
.img-canon {
    height: auto;
    max-width: 100%;
    display: block;
    border: 0;
}
/* Footer*/
/*
#footer{
    background: #41444b;
    color: rgba(255,255,255,0.6);
}
*/

#testimony {
    background-color: #f2f2f2;
}
#companies {
    padding-top: 50px;
}
#signup {
    padding-top: 100px;
}
#footer{
background-color: #41444B;
color: rgba(255, 255, 255, 0.6);
min-height: 650px;
}

#footer .title-aboutUs{
	font-size: 22px;
    color: #fff;
    position: relative;
    padding-bottom: 20px;
}
#footer .copy-right{
position: relative;
padding-top: 20px;
margin-top: 40px;
font-size: 17px;
}
#footer .footer-p{
margin-bottom: 10px;
font-size: 17px;
}
 #footer .address-info{
    margin: 0 0 60px 0;
    padding:0px;
}
.address-info li{
    font-size: 16px;
    list-style-type: none;
    margin: 0 0 20px 0;
    position: relative;
   display: list-item;
   padding-left: 40px;
    
}
.address-info i{
   color: #00ADB5;
   top:0;
   left:0;
   position: absolute;
   font-size: 22px;
}
#footer .media-icons{
margin: 0 0 30px 0;
padding: 0;
}
#footer .media-icons li a{
    color: #00ADB5;
    text-decoration: none;
}
.media-icons li{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    margin-right: 10px;
}
.media-icons i{
    font-size: 22px;
}
.media-icons i:hover{
    color: #fff;
    transition:0.5s;
}
.form-box{
    display: block;
    margin:0;
}
.form-control{
    padding: 16px 20px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.05);
    border:none;
}
#submit-btn {
    color: rgba(255, 255, 255, 0.9) !important;
    background: #FA5555 !important;
}